/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* вторичный цвет текста #000000 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #2F303A; */
/* вторичный цвет фона #F5F4FA */
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --secondary-title-text-color: #000000;
    --accent-color: #2196F3;
    --white: #FFFFFF;
    --primary-background-color: #2F303AF;
    --secondary-background-color: #F5F4FA;
}

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header nav {
    background-color: var(--white);
}

/* Логотип */
.logo {
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-title-text-color);
}

.logo-accent {
    color: var(--accent-color);
}

.nav .link.current {
    color: var(--accent-color);
}

.nav .link:hover,
.nav .link:focus {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* Контакты */

.nav .email:hover,
.nav .email:focus {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.nav .tel {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/* Герой */
.hero {
    color: var(--white);
    background: var(--primary-background-color);
}

.hero-title {
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.hero button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--accent-color);
}

/* Фильтр работ */

.button {
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
}

.button .primary:hover {
    color: var(--white);
    background-color: var(--accent-color);
}

.button.primary:focus {
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
}

.btn-group .button {
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
}

/* Наши особенности */
.section {
    color: #212121;
}

.section .title-hidden {
    display: none
}

.section .section-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

p.features-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* Наша команда */
.section .section-title {
    font-family: inherit;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-title {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

p .vocation {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

h1 {
    opacity: 0;
}

.galery-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

p.example-work {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

/* Футер сайта */
.footer {
    background: var(--primary-background-color);
}

.footer .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--white);
    background: var(--primary-background-color);
}

.adress-item {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--white);
}

.email-item {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.tel-item {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}